dbdata
.idea/
files/
certs/
__pycache__/

northwindclient/node_modules
northwindclient/.pnp
northwindclient/.pnp.js
northwindclient/coverage
northwindclient/.next/
northwindclient/out/


northwindclient/build

northwindclient/.DS_Store


northwindclient/npm-debug.log*
northwindclient/yarn-debug.log*
northwindclient/yarn-error.log*

northwindclient/.env.local
northwindclient/.env.development.local
northwindclient/.env.test.local
northwindclient/.env.production.local

